/*
turn off the native checkbox
if browser does not understand appearance -> will just show standard checkbox
*/
input[type="checkbox"]{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}


/* New checkbox, unchecked */
input[type="checkbox"]{
  content: "";
  width: 1rem;
  height: 1rem;
  border: solid 1px #cccccc;
  position: relative;
  cursor: pointer
}

/* New checkbox, checked */
input[type=checkbox]:checked  {
  content: "\f067";
  background: green;
}


/* todo */
fieldset > label {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
}
