#header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
}

#header > h1 {
    /* layout */
    margin: 0px 0 0 0;
    padding: 5px 0 5px 0;

    /* style */
    /*color: white;*/
    color: #555;
    font-size: 3rem;
    /*background: green;*/
    /*background: #2d6bd2*/;
    background: white;
    text-align: center;
    font-weight: normal;
}

.title > h2 {
    /* layout */
    width: 22rem;
    padding: 0 10px 0 0;
    text-align: justify;

    /* style */
    font-weight: normal;
    background: white;
}