html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    padding: 5px 0 5px 0;
}

#header > h1 {
    margin: 0;
    padding: 0;
}

#content {
    height: 100%;
    padding: 0 10px 0 15px;
    display: grid;
    /* will put map and control items into same grid cells, so they will end up on top of each other */
    grid-template-columns: 23rem auto 12rem 10.5rem;
    grid-template-rows: auto auto auto;
}

#text-subtitle {
    grid-column: 1;
    grid-row: 1;
    z-index: 1000;
    margin-bottom: auto; /* so the div only extends as far as needed */
    padding-left: 5px;
}

#control-panel {
    grid-column: 1;
    grid-row: 2;
    z-index: 1000;
    margin-bottom: auto;  /* so the div only extends as far as needed */
}

#text-explanation {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1;
    z-index: 1000;
    height: 10rem;  /* so text in english and swedish version has the same height */
    margin-bottom: auto; /* so the div only extends as far as needed */
    padding-left: 5px;
}

#legend {
    grid-column: 4;
    grid-row: 2;
    z-index: 1000;
    padding-right: 10px;
    margin-bottom: auto;  /* so the div only extends as far as needed */
    margin-left: auto;  /* so the div only extends as far as needed */
}

#map {
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
}

#footer {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 100%;
    justify-content: center;
    padding: 5px 0 5px 0;
}

@media only screen and (max-width: 1024px) {
    body{
        width: 49rem;
    }

    #header > h1 {
        font-size: 1rem;
        font-weight: bold;
    }

    #content > h2 {
        font-size: 1rem;
        padding: 1px;
        margin: 1px;
    }

    #text-subtitle {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
        margin-right: 3rem;
    }

     #text-explanation {
         grid-column-start: 4;
         grid-column-end: 6;
         height: 100%;
     }

     #legend {
         grid-column-start: 5;
         grid-column-end: 6;
     }

     #map {
         grid-column-end: 6;
     }


    #content {
        grid-template-columns: 10.5rem 12rem 2rem 12rem 10.5rem;
        grid-template-rows: auto auto auto;
    }

    #control-panel fieldset {
        flex-direction: column;
    }

}

