body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* **********************************************************************************
                         main content
   ***********************************************************************************/

#content {
    /* this pushes header to the top and footer to the bottom, everything else should be content*/
    flex-grow: 1;
    padding: 0 15px 0 15px;

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;

    grid-template-areas:
    "subtitle     explanation"
    "controlpanel legend"
    ".             .";

}

#text-subtitle, #text-explanation, #control-panel, #legend {
    /* should be on top of map */
    z-index: 999;

    /* ensure no useless whitespace at bottom */
    margin-bottom: auto;
}

/* map covers the full grid */
#map {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

#text-subtitle {
    grid-area: subtitle;
    width: 23rem;
    padding-left: 5px;
}

#text-explanation {
    grid-area: explanation;
    width: 23rem;
    margin-left: auto; /* push to right */
    padding-right: 5px;
}

#control-panel {
    grid-area: controlpanel;
    width: 23rem;
}

#legend {
    grid-area: legend;
    width: 10.5rem;
    margin-left: auto;    /* push to right */
}


/* **********************************************************************************
                         header and footer
   ***********************************************************************************/

#header {
    width: 100%;  /* relevant in mobile view */
    margin: 0;
    padding: 5px 0 5px 0;
}

#header > h1 {
    margin: 0;
    padding: 0;
}


#footer {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 100%;
    justify-content: center;
    padding: 5px 0 5px 0;
}


