.legend {
    border: 1px solid #ccc;
    text-align: left;
    line-height: 18px;
    max-width: 8rem;
    padding: 5px 0px 5px 5px;
    background: white;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1.0;
}
