/* Control panel */
#control-panel {
    /* layout */
    display: flex;
    flex-direction: column;

    /* style */
    background: white;
    border: 1px solid #ccc;
}

/* Row in the control panel */
#control-panel .control-element {
    /* layout */
    padding: 5px 10px 5px 10px;

    /* style */
    border-top: 1px solid #efefef;
}

/* Title in the control panel */
#control-panel .control-element-title {
    font-weight: bold;
}

/* Collection of checkboxes */
#control-panel fieldset {
    /* layout */
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    /* style */
    border: none;
}


/* "label" is the container that contains both checkbox and text */
#control-panel label {
    /* layout */
    display: flex;
    flex-direction: row;
    margin-right: 15px; /* Space between checkboxes */
    align-items: center; /* vertically aligns text and checkbox */
}


#control-panel input[type="checkbox"] {
    /* layout */
    margin: 0 0.2rem 0 0; /* make some space between checkbox and label */
}

/* container around slider and all its utility elements */
#control-panel .slider-area {
    /* layout */
    display: flex;
    flex-direction: row; /* Start and end year should be on same row as slider */
    text-align: center;
}

/* slider */
#control-panel input[type="range"] {
    /* layout */
    width: 100%;
    margin: 0 5px 0 5px; /* no top and bottom margin to make sure that text is aligned properly*/
}

/* Info line below slider */
#control-panel .slider-info {
    /* layout */
    margin-left: 2rem;
}

#control-panel .grey {
    /* style */
    color: rgb(157, 150, 142);
    font-style: italic;
}

