/* allow word wrapping in tooltip */
.leaflet-tooltip {
    width: 10rem;
    white-space: normal;
}

/* Put own styling */
.tooltip {
    display: flex;
    flex-direction: column;
    max-width: 10rem;
}

.tooltip > h1 {
    font-style: normal;
    font-size: 0.75rem;
    color: #555;
}

